[submodule "site/themes/hugo-whisper-theme"]
	path = site/themes/hugo-whisper-theme
	url = https://github.com/jugglerx/hugo-whisper-theme.git
[submodule "site/themes/docsy"]
	path = site/themes/docsy
	url = https://github.com/google/docsy
